html(lang='en')
    head 
        title= title 
        link(rel="stylesheet", href="assets/css/index.css")

    body 
        .time-wrapper
            h3.time-content hi there ! :D
            h1.time-content Request recieving time:
            h2.time-content= time

